numpy==1.26.4
pandas==2.2.3
polars==1.22.0
polars-lts-cpu==1.22.0
pyarrow >= 7.0.0
pyAgrum==1.13.0
pydantic==2.9.2
sktime==0.35.1
ordpy==1.1.5
pytest==8.3.0
pmdarima==2.0.4
ortools==9.11.4210
pydantic==2.9.2
seaborn==0.13.2